.container {
  max-width: 980px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.landing_background {
/*  background: url("../Landing/nat_bridges.jpg") no-repeat fixed center;
  background-size: cover;
  height: 100vh;*/
}
